$primaryColor: #8b914e; //Màu chính

$primaryColorOpacity: #8c914eec; //Màu chính

$secondaryColor: #242424; //Màu phụ

$fontSize: 14px; //Font-size mặc định

$textColor: #777777; //Màu mặc định văn bản

$fontFamily: Lato, san-serif; //Font mặc định

$linkColor: #403c34; //Màu liên kết

$headingColor: #2c2922; //Màu các thẻ heading

