.whyus-box{
    @include section-base;
    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.14rem;
        font-weight: bold;
    }

    .whyus-box__lists{
        margin: 40px 0;

        .whyus-box--item{
            max-width: 75%;

            @media screen and (max-width: 992px) {
                max-width: 100%;
                text-align: justify;
            }

            @media screen and (max-width: 576px) {
                text-align: center;
            }

            h3{
                text-transform: uppercase;
                font-size: 1.14rem;
                font-weight: bold;
            }
        }
    }

    .whyus-box__button{
        text-align: center;

        a{
            border: 2px solid #e6e6e6;
            color: #8c877d;
            font-size: 1.14rem;
            font-weight: bold;
            padding: 10px 50px;
            text-transform: uppercase;
        }
    }
}